.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #1f7a9e;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;

}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color:rgb(239, 254, 255);
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;
}
.blue-btn{
    -fx-background-color: #1f7a9e;
    -fx-background-radius: 5px;

}

